/**
* Style for the WordPress dashboard
*/

#menu-plugins > a, #menu-tools > a, #menu-settings > a, #menu-appearance > a, #menu-users > a, #collapse-menu > button, #collapse-menu > span, #toplevel_page_edit-post_type-acf-field-group > a, #toplevel_page_edit-post_type-search-filter-widget > a, #toplevel_page_itsec > a, #toplevel_page_duplicator > a, #toplevel_page_pb_backupbuddy_backup > a, #toplevel_page_sb-instagram-feed a{
  opacity: .25;
}

/* Plugins */
.plugins tr[data-slug^='design-action'].active td, .plugins tr[data-slug^='design-action'].active th {
  background-color: #FAFAFA;
}
.plugins tr[data-slug^='design-action'].active th {
  border-left-color: black;
}
.plugins tr[data-slug^='design-action'].active a {
  color: #32373C;
}
/* Make Trusted Plugins stand out */
.plugins tr[data-slug='design-action-trusted-plugins'].active th {
  border-left-color: red;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
          animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    border-left-color: transparent;
  }
}
@-webkit-keyframes blink-animation {
  to {
    border-left-color: transparent;
  }
}
.plugins tr[data-slug='design-action-trusted-plugins'] strong {
  color: red;
}

/* Format Term edit screen */
.taxonomy-format .column-icon {
  padding-right: 0;
  width: 20px;
  text-align: right;
}

/* Format CPT edit screens */
#post-body #visibility {
  display: none;
}
/* .post-type-working-group .wrap .page-title-action, .post-type-working-group .acf-postbox {
	display:none!important;
} */
.column-featured {
  width: 2em;
}

/* Remove extra items from Events Calendar edit screen */
#tribe_events_event_details #google_map_toggle, #tribe_events_event_details #event_url, #tribe_events_event_details #event_cost {
  display: none!important;
}

/* Customizer */
.preview-tablet .wp-full-overlay-main {
  margin-left: -384px;
  width: 768px;
}
.wp-customizer .mce-floatpanel, .wp-customizer .mce-inline-toolbar-grp {
  z-index: 99999999!important;
}
#input_fccp_about_bg_position label {
  display: inline-block;
  float: left;
  width: 25px;
  height: 25px;
  border-right: none;
  text-align: center;
}
#input_fccp_about_bg_position label:nth-of-type(3n + 1) {
  clear: both;
}
#accordion-panel-tribe_events_pro_customizer {
  display: none!important;
}
