/**
 * Login Page Styles
 */
@import 'bootstrap-vars/index';
@import 'common/variables';
@import 'common/mixins';

/**
 * Variables
 */
$login-color-1: black;
$login-color-2: white;
$background_color--top: $login-color-1;
$background_color--bottom: $login-color-2;
$txt-color: black;
$button_bg_color: $login-color-1;
$button_txt_color: white;
$button_border_color: $login-color-1;
$button_bg_color--hover: #333;
$button_txt_color--hover: #FFF;
$button_border_color--hover: $login-color-1;
$logo_file: '../images/logo.png';

/**
 * Body, logo
 */
body {
  position: relative;
  z-index: 1;
  padding: 0 20px;
  background: linear-gradient(
  to bottom,
  $background_color--top 0%,
  $background_color--bottom 100%
  ) !important;
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  font-family: $font-family-base;
}

body.login div#login h1 a {
  overflow: hidden;
  margin: 0 auto;
  margin-left: -15px;
  width: 352px;
  height: 270px;
  outline: 0 none;
  background-image: url($logo_file);
  background-position: center center;
  background-size: 300px;;
}

/**
 * Buttons and links
 */
input[type=text]:focus, input[type=checkbox]:focus {
  border-color: $button_border_color !important;
  -webkit-box-shadow: 0 0 2px rgba(#000,.8);
          box-shadow: 0 0 2px rgba(#000,.8);
  font-family: $font-family-base;

  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
.wp-core-ui .button-primary {
  border-color: $button_bg_color !important;
  border-radius: $border-radius;
  background: $button_bg_color !important;
  -webkit-box-shadow: 0 0 0 #888 !important;
          box-shadow: 0 0 0 #888 !important;
  color: $button_txt_color !important;
  text-decoration: none !important;
  text-shadow: initial !important;
  font-family: $font-family-base;

  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
.wp-core-ui .button-primary.active, .wp-core-ui .button-secondary:focus, .wp-core-ui .button-secondary:hover, .wp-core-ui .button.focus, .wp-core-ui .button:hover {
  border-color: $button_border_color--hover !important;
  background: $button_bg_color--hover !important;
  color: $button_txt_color--hover !important;

  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
.login label, .login #backtoblog a, .login #nav a {
  color: $txt-color !important;

  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

/**
 * Error Messages
 */
.login .message, #login_error {
  margin-bottom: 0 !important;
  padding: 15px !important;
  border-left: 0 !important;
  background-color: rgba(0,0,0,0) !important;
  box-shadow: 0 0 0 !important;
  color: $txt-color !important;
  text-align: center !important;

  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

/**
 * Misc
 */
#wp-auth-check-wrap #wp-auth-check-form iframe {
  height: 100% !important;
}
#login {
  padding-top: 30px !important;
}
.interim-login #login {
  margin-top: -64px !important;
}
#login form {
  padding-bottom: 0 !important;
  background: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
