// Abolitionist Feed
.grid-wrap__abolitionist {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
  }
 aside {
   @include tablet {
     padding-left: 30px;
   }
 }
}
.inner-grid__abolitionist {
  @include tablet {
    flex-basis: 63%;
    min-width: 63%;
  } 
}

.abolitionist-side {
  &__meta {
    margin-bottom: 30px;
  }
  &__card {
    margin-bottom: 15px;
    &.with-content {
      background-color: #FFDD60;
      padding: 40px 25px;
      margin: 20px 0;
      .btn {
        margin-top: 20px;
      }
    }
  }
  &__position {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
  }
  &__name {
    font-weight: 700;
    font-size: 16px;
  }
}

