.lead-image {
  margin-bottom: 20px;
  @include tablet {
    margin-bottom: 40px;  
  }
  @include desktop {
    margin-bottom: 50px;  
  }
  img {
    width: 100%;
    height: auto;
  }
}

.category-list {
  padding-left: 0;
  list-style: none;
  a {
    font-weight: 700;
  }
}

.media-contact {
  span {
    text-transform: uppercase;
    font-weight: bold;
  }
}