.chapters {
  &__lower {
    margin-top: 50px;
  }
}
.chapter-news-col {
  margin-bottom: 30px;
  padding-top: 30px;
} 

.engage-links {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
  li {
    margin-bottom: 15px;
  }
}
.card-chapter-wrap {
  background: #F2F2F2;
  padding: 20px;
  height: 100%;
  .card-body {
    padding: 15px 0;
    font-size: 14px;
  }
  .card-title {
    font-size: 14px;
    color: $red;
  }
}
.chapter-news-section {
  margin: 30px 0 50px;
  .row {
    align-items: stretch;
  }
}

.call-out-box {
  position: relative;
  padding: 80px 0;
  background-color: rgba(0,0,0,0);
  &::after {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    background: #FFDD60;
    width: 100vw;
    left: calc((-100vw + 100%) / 2);
    z-index: -2;
  }
  .card-body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}