footer {
  @include font-smoothing;
  padding: 80px 0 40px;
  background: black;
  color: white;
  text-align: center;
  position: relative;
  z-index: 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 504px;
  @include tablet {
    padding-top: 90px;
    min-height: 604px;
  }
  @include desktop {
    min-height: 704px;
    padding-top: 120px;
  }
  &::after {
    content: '';
    display: block;
    width: 100vw;
    height: 100%;
    background-color: rgba(black, .5);
    z-index: -1;
    position: absolute;
    top: 0
  }
  a {
    color: white;
  }
}// footer

.footer {
  &__logo {
    display: block;
    margin: 15px auto;
    max-width: 208px;
    @include tablet {
      margin: 0;
    }
  }

  &__nav {
    justify-content: center;
    @include tablet {
      justify-content: flex-start;
      margin: 10px 0 30px -15px;
    }
    a {
      font-size: 14px;
      padding: 15px;
      text-transform: uppercase;
      color: white;
      font-weight: 700;
    }
  } // __nav
  &__lower {
    margin-top: 50px;
    @include tablet {
      margin-top: auto;
    }
  }
  &__lower_a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet {
      flex-direction: row;
    }
    .btn {
      padding: 0.510rem 2.55rem;
    }
  }
  &__donate {
    h2 {
      @include font-sizes(30px,35px,40px);
      text-transform: uppercase;
      font-weight: 700;
    }
    p {
      @include font-sizes(18px,20px,23px);
      color: $light-yellow;
      font-weight: 700;
    }
    .btn {
      @include font-sizes(16px,18px,20px);
      padding: 1rem 2rem;
      margin-left: 0;
      margin-top: 10px;
    }
  }
} // .footer

.placeholder {
  background: lightgray;
  color: black;
  height: 275px;
  margin: 40px 0 30px;
}

.colophon {
  list-style: none;
  padding-left: 0;
  font-size: 11px;
  margin-top: 30px;
  li {
    margin-top: 0;
    margin-right: 20px;
  }
  a:hover {
    color: white;
  }
  @include tablet {
    display: flex;
    justify-content: flex-start;
  }
}

/*
* Footer Social Icons
*/

footer .social-icons {
  margin: 30px 0;
  @include tablet {
    margin: 20px 0 -35px;
  }
}
