.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}
header {
  .container {
    position: relative;
  }
  .menu-container {
    @include tablet {
      max-width: 100vw;
      width: 100vw;
      background-color: white;
      margin: auto;
    }
  }
  .menu-main-menu-container {
    @include tablet {
      margin: auto;
      max-width: map-get($container-max-widths, 'md');
    }
    @include tablet-lg {
      max-width: map-get($container-max-widths, 'lg');
    }
    @include desktop {
      max-width: map-get($container-max-widths, 'xl');
    }
  }
}
