[class^='home-section--'] {
  padding: 20px 0;
}

/**
* Home Feature Section
*/
.home-section--feature {
  position: relative;
  padding: 0;
  text-align: center;
  background-color: black;
}


.home-section__header {
  @include arrow;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  width: 100%;
  a {
    color: black;
  }
  &.white a {
    color: white;
  }
}

.home-section {
  &--1 {
    background-color: black;
    padding-bottom: 0;
    position: relative;
    padding-top: 30px;
    margin-top: -1px;
    @include tablet {
      padding-top: 50px;
    }
    @include desktop {
      padding-top: 80px;
    }
    &::after { // arrow
      content: '';
      background-color: $home-yellow;
      display: block;
      border-left: 50vw solid transparent;
      border-right: 50vw solid transparent;
      border-top: 90px solid black;
      top: 3px;
      position: relative;
    }
  }
  &--2, &--3, &--4, &--5 {
    background-color: $home-yellow;
  }
}
.home-icon {
  max-width: 130px;
  margin: auto;
  position: absolute;
  bottom: -70px;
  left: 0;
  right: 0;
  z-index: 3;
  img {
    max-width: 100%;
    height: auto;
  }
}
.home-abolitionist {
  @include font-smoothing;
  background-color: $yellow;
  color: black;
  display: flex;
  padding: 20px;
  font-weight: 500;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
  }
  .card-body {
    @include tablet {
      padding-top: 0;
    }
  }
  .img-link {
    width: 100%;
    margin: 10px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  p {
    font-size: 14px;
    line-height: 1.9;
    margin-bottom: 5px;
  }
  a {
    font-weight: 700;
    color: white;
  }
  .btn {
    @extend %parallelogram;
    width: 100%;
    padding: 1rem 1.55rem;
    text-align: center;
    text-transform: uppercase;
    &:hover {
      background: white;
      color: black;
    }
  }
}

.home-section--1 {
  padding-left: 20px;
  padding-right: 20px;
  @include tablet {
    padding-left: 0;
    padding-right: 0;
  }
  .home-section__header  {
    @include font-sizes(30px,35px,40px);
    margin-bottom: 15px;
  }
}
.home-section--2 {
  article:nth-of-type(1) {
    border-bottom: 1px solid #D9CB99;
  }
  .home-section__header  {
    text-transform: capitalize;
  }
}

.home-section--5 {
  padding: 20px 0 100px;
  .home-section__header  {
    @include font-sizes(35px,40px,45px);
    margin-bottom: 20px;
  }
}
