.page-header {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 34vw;
  position: relative;
  margin-bottom: 40px;
  @include tablet {
    margin-bottom: 60px;
  }
  @include desktop {
    margin-bottom: 80px;    
  }
}

.page-banner { // page title and social media
  padding: 1.5rem 0 1rem;
  background: rgba(black, .8);
  position: absolute;
  bottom: 20px;
  width: 100%;
  @include desktop {
    min-height: 120px;
  }
  h1 {
    @include font-sizes(20px, 26px, 32px);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.page-title { // h1
  @include tablet {
    margin: 0 -30px;
  }
}

.h4 {
  @include font-sizes(16px,18px,20px);
}

.post-type-archive-abolitionist {
  .page-header { 
    font-style: italic;
  }
}