.sidebar-menu {
  list-style: none;
  padding-left: 0;
  ul {
    list-style: none;
    padding-left: 15px;
  }
}
.sidebar {
  section {
    margin-bottom: 30px;
  }
  h3 {
    @extend .h4;
  }
}

.sidebar-buttons {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0 25px;
  li {
    width: 100%;
    margin-bottom: 10px;
    @include tablet {
      width: calc(50% - 5px);
    }
  }
  a {
    display: block;
  }
}

.sidebar-updates {
  background-color: #FFDD60;
  padding: 30px 20px;
}