.top-bar {
  @include font-smoothing;
  padding: 20px 0;
  color: black;
  position: relative;
  min-height: 120px;
  @include tablet {
    //min-height: auto;
  }
  @include desktop {
    padding: 45px 0 75px 0;
  }
  &__left {
    min-width: 300px;
    position: absolute;
    top: 69px;
    @include tablet {
      min-width: 245px;
      position: relative;
      top: -4px;
    }
  }
  &__right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    text-align: right;
    @include tablet {
      flex-grow: 2;
      margin-right: 40px;
    }
    @include desktop {
      margin-right: 0;
    }
    &--icons {
      position: absolute;
      display: flex;
      top: 55px;
      @include tablet {
        position: static;
      }
    }
    input, button{
      margin-left: 10px;
    }
    .btn-donate {
      margin-right: 45px;
      @include tablet {
        margin-right: 0;
        display: flex;
        align-content: center;
      }
    }
    .fa {
      position: relative;
      top: 10px;
    }
  }
}
// Home variation
// .home .top-bar {
//   background: black;
//   color: white;
// }
