/*
* Based on https://codepen.io/Pavan_Yuvan/pen/gPMdxR
*/
.accordion {
	min-height: 0;
  display: inline-block;
  width: 100%;
	@media ( max-width:550px ) {
		box-sizing: border-box;
		transform: translate(0, 0);
		max-width: 100%;
		min-height: 100%;
		margin: 0;
		left: 0;
	}
}


.accordion {
  h3 {
    margin: 0;
    cursor: pointer;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $header-font;
    font-size: 16px;
    @include tablet {
      font-size: 18px;
    }
  }
  .accordion_p {
    position: relative;
    overflow: hidden;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 20px;
    z-index: 2;
    transition:all 500ms ease;
  }
  .accordion_p, .accordion_ul .accordion_li i:before, .accordion_ul .accordion_li i:after {
    transition: all 0.25s ease-in-out;
  }
  .accordion_ul {
    list-style: none;
    padding: 0;
    margin: 0;
    & .accordion_li {
      position: relative;
      padding: 25px 15px;
      margin: 20px 0;
      border: 1px solid #FFC809;
      //border-top: 1px dotted #dce7eb;
      .accordion_li {
        border: 0;
      }
      & i{
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 15px;
        top: 7px;
        right: 0;
        &:before,&:after {
          content: "";
          position: absolute;
          background-color: black;
          width: 3px;
          height: 16px;
          right: 10px;
        }
        &:before {
          transform: translate(2px, 0) rotate(45deg);
        }
        &:after {
          transform: translate(2px, 0) rotate(-45deg);
        }
      }
      & input[type=checkbox] {
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        &:checked ~ .accordion_p {
          margin-top: 0;
          max-height: 0;
          opacity: 0;
          transform: translate(0, 50%);
        }
        &:checked ~ i:before {
          margin-top: 9px;
          height: 9px;
          transform: translate(2px, 0) rotate(45deg);
        }
        &:checked ~ i:after {
          margin-top: 9px;
          height: 9px;
          transform: translate(-2px, 0) rotate(-45deg);
        }
      }
    }
  }

  .accordion_ul li:nth-of-type(1) {
    animation-delay: 0.5s;
  }
  .accordion_ul li:nth-of-type(2) {
    animation-delay: 0.75s;
  }
  .accordion_ul li:nth-of-type(3) {
    animation-delay: 1s;
  }
  .accordion_ul li:last-of-type {
    padding-bottom: 0;
    input[type=checkbox]{
      height: 100px;
    }
  }
  .accordion_li {
    animation: bounceInUp .2s ease both;
  }


  @-webkit-keyframes bounceInUp {
      0% {
          opacity: 0;
          -webkit-transform: translateY(2000px);
      }
      60% {
          opacity: 1;
          -webkit-transform: translateY(-30px);
      }
      80% {
          -webkit-transform: translateY(10px);
      }
      100% {
          -webkit-transform: translateY(0);
      }
  }

  @keyframes bounceInUp {
      0% {
          opacity: 0;
          transform: translateY(2000px);
      }
      60% {
          opacity: 1;
          transform: translateY(-30px);
      }
      80% {
          transform: translateY(10px);
      }
      100% {
          transform: translateY(0);
      }
  }
} // .accordion