blockquote {
  border-left: 5px solid $yellow;
  padding-left: 10px;
  margin: 30px 0 20px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  @include tablet {
    font-size: 17px;
    line-height: 25.4px;
    margin: 20px 0 30px;
    padding-left: 15px;
    border-left: 6px solid $yellow;
  }
  @include desktop {
    font-size: 20px;
    padding-left: 20px;
    line-height: 29px;
    border-left: 10px solid $yellow;
  }
}
