.breadcrumb {
  background: rgba(0,0,0,0);
  padding: 0 0 10px;
  color: #4A4A4A;
  font-family: $header-font;
  font-weight: 400;
  font-size: 9px;
  margin: 0;
  opacity: 0;
  pointer-events: none;

  @include tablet {
    display: flex;
    opacity: 1;
    pointer-events: auto;
  }
  @include desktop {
    font-size: 14px;
  }
  a {
    color: #5D5D5D;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content:"\f105";
  font-family: fontAwesome;
}
