.btn {
  @include font-smoothing;
  @extend .btn-primary;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.510rem 1.55rem;
}
button, [class^=btn] {
  @extend .btn;
  // @extend .btn-primary;
  &:hover {
    text-decoration: none;
  }
}

.read-more {
  @extend .btn;
  display: inline-block;
  clear: both;
  border: 1px solid grey;
  margin-top: 10px;
}

.btn-yellow, .btn-support, .btn-updates {
  @include make-button($yellow);
  color: black;
  margin-left: 15px;
}

.btn-light-yellow {
  @include make-button($light-yellow);
  color: black;
}

.btn-donate, .btn-red {
  @include make-button($red);
  color: white;
}
.btn-donate {
  margin-left: 10px;
  @include tablet {
    margin-left: 15px;  
  }
}

.btn-updates, .btn-donate {
  @include font-sizes(14px, 15px, 16px);
  padding: 0.510rem 13px;
  @include tablet {
    padding: 0.510rem 1.55rem;
  }
}

.btn-red {
  @include make-button($red);
  color: white;
  font-weight: 400;
  text-transform: capitalize;
}


.btn-sidebar {
  text-transform: uppercase;
  width: 100%;
}

.chapter-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
  }
  a {
    @include font-sizes(16px,16px,17px);
    flex-grow: 1;
    margin-right: 15px;
    margin-bottom: 15px;
    @include tablet {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}


// Parallelogram buttons
.btn-support, .btn-updates, .btn-donate, .btn-lean, .chapter-buttons a {
  @extend %parallelogram;
}



