/**
* Card FAQ
* Event card
*/
.card-faq {
  @extend .card;
  height: auto;
  flex-direction: row;
  background: rgba(lightgrey, .3);
  border: 0;
  margin-bottom: 20px;
  a {
    display: block;
  }
}


