/**
* Slide
*/
.slide {
  position: relative;
  &::after {
    content: '';
    width: 100vw;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    z-index: 0;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 45%, #000000 78%)
  }
  img, &__image {
    width: 100%;
    height: auto;
  }
  h2 a, p {
    color: white;
  }
  h2 {
    @include font-sizes(30px,45px,62px);
    &::after {
      content: '';
    }
  }
  p {
    @include font-sizes(16px,18px,20px);
  }

  .container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    z-index: 2;
  }
}
