/**
* Card ACF
* Portrait card with image
*/
.card-acf {
  @extend .card;
  flex-direction: column;
  margin-bottom: 30px;
  background: transparent;
  border: 0;
  h3 {
    @include font-sizes(16px,20px,25px);
    font-weight: 700;
    text-align: center;
    a {
      color: #FFDD60;
    }
  }
  .img-link {
    width: 100%;
    @extend %parallelogram;
    @include tablet-lg {
      max-width: 268px;
    }
  }
}
