/**
* Card Abolitionist
* Portrait card with image
*/
.card-feed-abo {
  @extend .card;
  margin-bottom: 30px;
  background-color: #D8D8D8;
  @include tablet {
    flex-basis: calc(50% - 15px);
  }
  &__img-wrap {
    position: relative;
  }
  &__theme {
    @include font-smoothing;
    background-color: black;
    color: $yellow;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
  }
  &__number {
    font-weight: 700;
  }
  &__date {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

.name-creator {
  font-weight: 700;
}
