/**
* Card Staff
*/
.card-staff {
  @extend .card;
  border: 0;
  margin-bottom: 30px;
  flex-direction: column;
  @include tablet {
    flex-direction: row;  
  }
  .staff-info {
    width: 30%;
    padding-right: 30px;
  }
  .card-body {
    padding: 0;
  }
  .card-text {
    border-bottom: 1px solid lightgray;
  }
  h4 {
    @include font-sizes(16px, 18px, 20px,);
    font-weight: bold;
  }
  .position, .phone, .email {
    font-weight: 300;
    font-size: 14px;
  }
  .position {
    text-transform: uppercase;
  }
  .email {
    color: $red;
  }
}


/**
*  Accordion
*/
.read-bio {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  a {
    @include make-button($red);
    font-weight: 300;
    padding: 10px 20px;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
  }
}
.see-more {
  &:after {
      content: "- Hide";
      display: block;
  }
}
.collapsed .see-more {
  &:after {
      content: "+ Read Bio";
      display: block;
  }
}
