/**
* Card Press Release
* Portrait card with image
*/
.card-feed-pr {
  margin-bottom: 20px;
  @include tablet {
    flex-direction: row;    
  }
  .h4 {
    color: $red;
  }
}

.past-press {
  padding: 10px 15px;
  border-bottom: 1px solid black;
}