/**
* Card B
* Lanscape card with image
*/
.card-home-b {
  @extend .card;
  max-width: 360px;
  background-color: $home-yellow;
  margin: auto auto 20px;
  height: auto;
  flex-direction: row;
  border: 0;
  text-align: center;
  h3 a {
    color: $red;
  }
  h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;

  }
  time {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
  }
}
