/**
* Card C
* Text only card
*/
.card-home-c {
  @extend .card;
  border: 0;
  margin-bottom: 25px;
  background-color: $yellow;
  @include tablet {
    margin-bottom: 0;
  }
  h3 {
    font-size: 16px;
    font-weight: 700;
    a {
      color: black;
    }
  }
  .card-body {
    padding-top: 5px;
  }

}

.type {
  @include font-smoothing;
  ul {
    list-style: none;
    padding: 0;
  }
  li, a {
    display: inline-block;
  }
  li {
    @include right-lean;
    background: $red;
    padding: 0px 10px 0 20px;
    margin-top: 15px;
  }
  a {
    color: $yellow;
    font-weight: 700;
    padding: 7px 0;
  }
}

.issue {
  background-color: $home-yellow;
  color: $red;
  font-size: 14px;
  text-align: center;
  padding-top: 15px;
  span {
    font-weight: 700;
    display: inline-block;
    padding-right: 5px;
    color: black;
  }
  a {
    color: $red;
    padding: 5px 2px;
  }
}
