/**
* Card C - Resources 

*/
.card-feed-c {
  @extend .card;
  margin-bottom: 20px;
  background-color: rgba(#EEEEEE, .5);
  .h4 {
    color: $red;
    margin-bottom: 15px;
  }
  .type--yellow {
    position: relative;
    top: 10px;
    margin-top: 20px;
    ul {
      list-style: none;
      padding-left: 0;
    }
    a {
      color: $red;
      font-weight: 700;
      background-color: $yellow;
      padding: 10px 20px;
    }
  }
}
.resource-meta {
  text-transform: uppercase;
  font-weight: 300;
  margin: 5px 0;
}