/**
* Card A
* Portrait card with image
*/
.card-feed-a {
  @extend .card;
  margin-bottom: 20px;
  @include tablet {
    flex-direction: row;    
  }
  .h4 {
    color: $red;
  }
  .img-link {
    @include tablet {
      min-width: 33%;
    }
  }
}


.name-creator {
  font-weight: 700;
}
