/**
* Card A
* Portrait card with image
*/
.card-sidebar-a {
  @extend .card;
  background-color: rgba(0,0,0,0);
  border: 0;
  padding: 20px 0;
  .card-body {
    padding: 0;
  }
  a {
    color: $red;

  }
}
