/**
* Card Annual Reports
* Portrait card with image
*/
.card-feed-annual-r {
  @extend .card;
  margin-bottom: 40px;
  @include tablet {
    width: calc(33% - 20px);
  }
  .card-body {
    background-color: rgba(#D8D8D8,.7);
  }
  .card-title {
    color: $red;
    font-size: 15px;
  }
}
