/**
* Extend bs styles to all default form elements
*/
input[type=text],input[type=textarea],input[type=email] {
  @extend .form-control;
}

/** Search form */
.search-form {
  @extend .form-inline;
  @include right-lean($yellow, 12px,12px,49px);
  @include left-lean($black,0, 12px,49px);
  @include tablet {
    @include right-lean($yellow, -3px,12px,49px);
    @include left-lean($black,-15px, 12px,49px);
  }
  label {
    @include right-lean(white, 12px,12px,49px);
  }
}
.search-form label {
  font-weight: normal;

  @extend .form-group;
}

.search-form .search-field {
  @extend .form-control;
  border: 1.5px solid white;
}

.search-submit {
  background-color: $yellow;
  border: 1px solid $yellow;
  color: black;
}
