/**
* Menu container
*/
.menu-primary-menu-container {
  @include container-max-widths();
}
.menu-main-menu-container {
  @include tablet {
    width: 100%;
  }
}

/**
* Top-level menu
*/
.slimmenu {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;

  @include tablet {
    //display: flex !important;
    flex-direction: row;
    margin-bottom: 0;
    justify-content: space-between;
  }
  a {
    display: block;
    padding: 5px 0;
    @include desktop {
      padding: 19px 0;
    }
  }
  li {
    position: relative;
  }

}

/*
* All text styles, only!
*/
.slimmenu, .slimmenu a {
  @include font-sizes(16px, 12px, 18px);
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  @include tablet {
    color: black;
    background: white;
  }
}
.slimmenu {
  ul, ul a {
    @include font-sizes(14px, 12px, 16px);
    color: rgba(white, .9);
    text-transform: capitalize;
    @include tablet {
      color: rgba(black, .8);
    }
  }
}

/**
* Sub-menus
*/
.slimmenu ul {
  padding: 0 0 0 20px;
  height: 100%;
  list-style: none;
  @include tablet {
    position: absolute;
    z-index: 99;
    padding: 0;
    min-width: 14rem;
    width: 100%;
  }
  @include desktop {
    left: -15px;
  }
  a {
    padding: 10px;
    @include desktop {
      padding: 10px 15px;
    }
  }
  li {
    background: black;
    @include tablet {
      background: white;
    }
  }
  ul {
    @include tablet {
      top: 0;
      left: 100%;
    }
  }
}

/**
* Sub-menu toggle arrow
*/
.sub-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  text-align: center;
  cursor: pointer;
  @include tablet {
    display: none;
  }
}

/**
* Mobile menu button
*/
.menu-collapser {
  //position: relative;
}
.collapse-button {
  position: absolute;
  top: -85px;
  right: 37px;
  cursor: pointer;
}
.icon-bar {
  display: block;
  margin-bottom: 3px;
  width: 22px;
  height: 3px;
  background: white;
}

/**
* Misc
*/

//Current parent item 
.slimmenu > li.current-menu-parent > a {
  color: $red;
}


// a[title=Home] {
//   &:after{
//     content:"\f015";
//     font-family: fontAwesome;
//     display: block;
//   }
// }
