/**
* Mega Menu
*/

// Top adjust: these two numbers should be the same
#mega-menu-wrap-primary_navigation .mega-menu-toggle + #mega-menu-primary_navigation {
    bottom: 40px;
}
#content {
    margin-top: -40px;
}
// end top adjust


.mega-menu-toggle {
    .mega-menu-toggle-block {
        @extend %parallelogram;
    }
    &.mega-menu-open {
        .mega-menu-toggle-block {
            transform: none;
        }
    }
}


#mega-menu-wrap-primary_navigation #mega-menu-primary_navigation > li.mega-menu-item > a.mega-menu-link {
    @include font-smoothing;
    @include font-sizes(16px, 12px, 18px);
    text-transform: uppercase;
    font-weight: 700;
    color: black;

}
#mega-menu-wrap-primary_navigation {
    background-color: white;
}
#mega-menu-wrap-primary_navigation {
    @include container-max-widths();
    margin: auto;

}
#mega-menu-wrap-primary_navigation #mega-menu-primary_navigation > li.mega-menu-item > a.mega-menu-link,
#mega-menu-wrap-primary_navigation #mega-menu-primary_navigation > li.mega-menu-item > a.mega-menu-link:hover {
    font-weight: 700 !important;
}

#mega-menu-wrap-primary_navigation #mega-menu-primary_navigation > li.mega-menu-item > a.mega-menu-link {
    @include tablet {
        padding: 0 5px
    }
    @include desktop {
        padding: 0 10px;
    }
}

.mega-indicator {
    @include tablet {
        display: none !important;
    }
}
#mega-menu-wrap-primary_navigation .mega-menu-toggle + #mega-menu-primary_navigation {
    display: none;
    @include tablet-lg {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

#mega-menu-wrap-primary_navigation #mega-menu-primary_navigation > li.mega-menu-item.mega-current-menu-ancestor > a.mega-menu-link {
    background: white;
    color: $red;
}
/*
* Mobile
*/
#mega-menu-wrap-primary_navigation .mega-menu-toggle,
#mega-menu-wrap-primary_navigation .mega-menu-toggle + #mega-menu-primary_navigation {
    background-color: white;
    color: black;
}
#mega-menu-wrap-primary_navigation .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-label {
    opacity: 0;
    position: absolute;
    left: -9999px;
}
#mega-menu-wrap-primary_navigation .mega-menu-toggle .mega-toggle-block-1:after {
    color: black;
}
#mega-menu-wrap-primary_navigation .mega-menu-toggle .mega-toggle-blocks-right .mega-toggle-block {
    position: absolute;
    bottom: 100px;

}
#mega-menu-wrap-primary_navigation .mega-menu-toggle .mega-toggle-block-1:after {
    font-size: 37px;
    @include tablet {
        font-size: 44px;
    }
}
