.modal-title {
  color: black;
  text-transform: uppercase;
  text-align: center;
}
.modal-header {
  border: 0;
}
.modal-body {
  .form-group, .form-inline .form-control {
    width: 100%;
  }
  .form-inline .form-control {
    margin-bottom: 15px;
  }
  .form-submit {
    margin: auto;
  }
}
.modal-backdrop.show {
  opacity: 0;
  z-index: -9;
}
.modal {
  top: 40px;
}
.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
  color: $red;
}
.modal .btn-red {
  text-transform: uppercase;
  font-weight: 700;
}

.modal label {
  color: #333;
  text-align: left;
  width: 100%;
}