.page-nav {
  @include font-smoothing;
  margin: 40px 0 20px;
  a {
      color: $primary;
      &:hover {
          background-color: $secondary;
          color: white;
          text-decoration: none;
      }
  }
}
.page-numbers {
  padding: 5px 14px 6px;
  display: inline-block;
  border-right: 1px solid #DDD;
  margin: 0 -4px;
}

.next {
  border-right:0;
}
.current {
  color:  black;
}
