#h-search-accordion.collapse.show {
  .h-search-form {
    display: block;
  }
}
#h-search-accordion.collapse {
  .h-search-form {
    display: none;
  }
}
.home .h-search-icon  { 
  //åcolor: white;
}
.h-search-icon  {
  text-decoration: none;
  color: black;
  font-size: 16px;
  top: 7px;
  position: relative;
  @include tablet {
    font-size: 20px;
  }
  &:after {
    content:"\f00d";
    font-family: fontAwesome;
  }
}
.collapsed .h-search-icon  {
  &:after {
    content:"\f002";
    position: relative;
    top: 2px;
  }
}
.search-accordion {
  display: inline-block;
  position: relative;
  right: 3px;
}

.search-bar-expanded {
  top: -15px;
  width: 100vw;
  position: relative;
  @include phablet {
    left: calc((-100vw + #{map-get($container-max-widths, 'sm' )}) / 2 )
  }
  @include tablet {
    left: calc((-100vw + #{map-get($container-max-widths, 'md' )}) / 2 )
  }
  @include tablet-lg {
    left: calc((-100vw + #{map-get($container-max-widths, 'lg' )}) / 2 )
  }
  @include desktop {
    left: calc((-100vw + #{map-get($container-max-widths, 'xl' )}) / 2 )
  }
  .row {
    width: 100vw;
  }
  label {
    margin-bottom: 0;
    width: calc(100% - 126px);
    @include desktop {
      width: calc(100% - 227px);
    }
  }
  .collapse {
    width: 100vw;
  }
  .search-field {
    border-radius: 0;
    width: 100%;
    padding: 10.5px 0.75rem;
  }
  .search-form {
    max-width: 540px;
    margin: auto;
    @include tablet {
      max-width: map-get($container-max-widths, 'md' );
      padding: 0 15px;
    }
    @include tablet-lg {
      max-width: map-get($container-max-widths, 'lg' );
    }
    @include desktop {
      max-width: map-get($container-max-widths, 'xl' );
    }
  }
 .h-search-form{
    //background: rgba(black, .5);
    padding: 25px 30px 25px 15px;
    margin: 10px 0 0;
    width: 100vw;
    @include tablet {
      margin: 10px 0 0;
    }
  }
}
.search-bar-expanded {
  .search-field {
    @include desktop {
      padding: 15px;
    }
  }
  .search-submit {
    background-color: $yellow;
    color: black;
    border-radius: 0;
    flex-grow: 1;
    padding: 11.5px 0 !important;
    @include desktop {
      padding: 11.5px 12px !important;
      font-size: 21px;
    }
  }
}

#h-search-accordion {
  .search-field {

    padding: 23px;
  }
  .search-submit {
    @include font-smoothing;
    font-size: 16px;
    font-weight: 900;
  }
}
