.select-wrap {
  @include font-smoothing;
  border-radius: 0;
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: white;
  max-width: 100%;
  &:after {
    right: 18px;
    top: 27px;
    content: '\A0\f0d7';
    font-family: fontAwesome;
    pointer-events: none;
    position: absolute;
    color: #333;
    font-size: 20px;

  }
  select { // visually hidden but clickable
    background: lightgrey;
    padding-right: (2 * $btn-padding-x); // make room for arrow
    color: #333;
    cursor: pointer;
    border: 2px solid #333;

    // Browser support
    -webkit-appearance:none;
    -moz-appearance: none;
    text-indent: 0.01px;// This will "push" the text a tiny bit[1] to the right;
    text-overflow: '';
    &::-ms-expand {
      display: none;
    }
	}
}



.select-wrap--full-width {
  width: 100%;
  
  select, label {
    width: 100%;
  }
  select {
    border-radius: 0;
    height: 60px;
    font-size: 15px;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 15px;
  }
}