/**
* Share this list of links
*/
.share-buttons{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 14px;
  position: relative;
  li:first-child { // Share this text
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 14px;
    position: relative;
    top: 4px;
    right: 5px;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
} //share-buttons

/**
* Share this icons
*/
.share-buttons {
  .fa{
    border-radius: 50%;
    text-align: center;
    color: white;
    width: 26px;
    height: 26px;
    font-size: 18px;
    padding: 5px 3px;
    margin: 0 2px;
    border: 1px solid rgba(0,0,0,0);
    transition: all ease-out .15s;
    &:after {
      font-size: 18px;
    }
    // Facebook
    &-facebook{
      &:hover {
        background: $facebook;
        border-color: $facebook;
      }
    }
    // Twitter
    &-twitter{
      &:hover {
        background: $twitter;
        border-color: $twitter;
      }
    }
    //Linked in
    &-linkedin{
      &:hover {
        background: $linkedin;
        border-color: $linkedin;
      }
    }
    // Pinterest
    &-pinterest{
      &:hover {
        background: $pinterest;
        border-color: $pinterest;
      }
    }
    //Email
    &-envelope{
      &:hover {
        background: black;
        border-color: black;
      }
    }
  }// .fa
}// .share-buttons
