/**
* Slideshow functionality
*/
.slick-prev:before, .slick-next:before {
  color: rgba(white, .9);
  font-family: fontAwesome;
  font-size: 40px;
  @include tablet {
    font-size: 60px;
  }
  @include desktop {
    font-size: 80px;
  }
}
.slick-prev:before {
  content: '\f053';
}
.slick-next:before {
  content: '\f054';
}
.slideshow {
  .slick-prev, .slick-next {
    height: initial;
    width: initial;
  }
  .slick-prev {
    left: 20px;
    z-index: 1;
    @include tablet {
      left: 30px;
    }
    @include desktop {
      left: 40px;
    }
  }
  .slick-next {
    right: 20px;
    @include tablet {
      right: 30px;
    }
    @include desktop {
      right: 40px;
    }
  }
  &__text {
    text-align: center;
  }
}
.slick-dots li button:before {
  font-size: 15px;
}

/**
* Individual slides
*/
.slick-initialized .slick-slide {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
  }
}
.slide {
  &__text {
    background: lightgrey;
    padding: 20px;
    @include tablet {
      flex-basis: 332px;
    }
    @include desktop {
      flex-basis: 392px;
    }
  }
}
