.social-icons {
  a {
    padding: 2px 4px;
    color: black;
    font-size: 20px;
  }
}

// Home variation
.home .top-bar .social-icons {
  a {
    font-size: 16px;
    padding: 2px 3px;

    @include tablet {
      font-size: 20px;
      padding: 2px 4px;

    }
  }
}