/**
* Theme Colors
*/
$yellow      : #FFCC00;
$light-yellow: #F8E9B0;
$home-yellow : #F9E9B0;
$black       : #2A2C2E;
$red         : #9A0316;
$dark-red    : #75010F;
$primary     : $blue;      // main theme color
$secondary   : $gray-600;  // default for buttons


/**
* Official social media colors
*/
$facebook   : #4B6EA9;
$twitter    : #00BBF2;
$linkedin   : #008FC3;
$pinterest  : #D73633;
$google-plus: #DB4437;
$envelope   : #D8D8D8;
$instagram  : #DD2A7B;

/**
* Bootstrap variable overrides
*/
$body-bg:      white;
$body-color:   #333;

$success:      $green; //added for btn-donate
$donate:       $red;
$info:         $cyan;
$warning:      $yellow;
$danger:       $red;
$light:        $gray-100;
$dark:         $gray-800;

$theme-colors: (
  primary:     $primary,
  secondary:   $secondary,
  donate:      $donate,
  success:     $green,
  info:        $red,
  warning:     $yellow,
  danger:      $red,
  light:       $gray-100,
  dark:        $gray-800
);

