// Neutra Face


// @font-face {
//   font-family: 'neutraface';
//   src: url('../fonts/NeutrafaceText-Book.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/NeutrafaceText-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../fonts/NeutrafaceText-Book.woff') format('woff'), /* Pretty Modern Browsers */
//        url('../fonts/NeutrafaceText-Book.woff2') format('woff2'), /* Pretty Modern Browsers */
//        url('../fonts/NeutrafaceText-Book.svg') format('svg'), /* Legacy iOS */
//        url('../fonts/NeutrafaceText-Book.ttf')  format('truetype'); /* Safari, Android, iOS */
//   font-weight: 400;
// }
// @font-face {
//   font-family: 'neutraface';
//   src: url('../fonts/NeutrafaceText-Bold.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/NeutrafaceText-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../fonts/NeutrafaceText-Bold.woff') format('woff'), /* Pretty Modern Browsers */
//        url('../fonts/NeutrafaceText-Bold.woff2') format('woff2'), /* Pretty Modern Browsers */
//        url('../fonts/NeutrafaceText-Bold.svg') format('svg'), /* Legacy iOS */
//        url('../fonts/NeutrafaceText-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
//   font-weight: 700;
// }
// @font-face {
//   font-family: 'neutraface';
//   src: url('../fonts/Neutraface_Display-Titling.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/Neutraface_Display-Titling.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../fonts/Neutraface_Display-Titling.woff') format('woff'), /* Pretty Modern Browsers */
//        url('../fonts/Neutraface_Display-Titling.woff2') format('woff2'), /* Pretty Modern Browsers */
//        url('../fonts/Neutraface_Display-Titling.svg') format('svg'), /* Legacy iOS */
//        url('../fonts/Neutraface_Display-Titling.ttf')  format('truetype'); /* Safari, Android, iOS */
//   font-weight: 800;
// }
