html, body {
  overflow-x: hidden;
  font-size: 15px;
}
body {
  color:  $black;
}

.hidden-xs {
  display: none;
  @include tablet {
    display: block;
  }
}

.visible-xs {
  @include tablet {
    display: none;
  }
}

.hidden-xl{
  @include desktop {
    display: none;
  }
}
.visible-xl {
  display: none;
  @include desktop {
    display: block;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.white {
  color: white;
}
address {
  margin-bottom: 0;
}
a {
  color: $red;
  &:hover {
    color: black;
  }
}
h1,h2,h3,h4,h5,h6 {
  a {
    color: inherit;
  }
}

a.meta, .meta a,.meta {
  color: $red;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
}
.meta {
  color: black;
  font-weight: 300;
}