/*
* Breakpoints
*/
@mixin phablet {
  @media (min-width: #{map-get($grid-breakpoints, 'sm')}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{map-get($grid-breakpoints, 'md')}) {
    @content;
  }
}
@mixin tablet-lg {
  @media (min-width: #{map-get($grid-breakpoints, 'lg')}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{map-get($grid-breakpoints, 'xl')}) {
    @content;
  }
}
@mixin custom($width) {
  @media (min-width: #{$width}) {
    @content;
  }
}


/*
* Zoom hover
* Description: adds a nice zoom effect on hover and focus
*/
@mixin zoom {
  transition: all .15s ease-in-out;
  &:hover, &:focus {
    transform: scale(1.035);
  }
}


/*
* Font smoothing
*/
@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*
* After Arrow
*/
@mixin arrow {
  position: relative;
  &:after {
    //position: absolute;
    right: 5px;
    top: 5px;
    content: '\00a0›';
    pointer-events: none;
  }
}


/*
* Em Calc
*/
$base-font-size: 16;

@function em($pixels, $context: $base-font-size) {
  @return #{$pixels/$context}em;
}


/*
* Button maker
*/
@mixin make-button($color) {
  @include button-variant($color, $color, $hover-background: darken($color, 7.5%), $hover-border: darken($color, 10%), $active-background: darken($color, 10%), $active-border: darken($color, 12.5%));
}

// right-side lean (1/2 parallelogram )
@mixin right-lean($color: $red, $right: 12px, $length: 12px, $height: 38px) {
  position: relative;
  &::after  {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: $length solid transparent;
    border-top: $height solid $color;
    position: absolute;
    right: (-$right);
    top: 0;
  }
}

// left-side lean (1/2 parallelogram )
@mixin left-lean($color: $red, $left: 12px, $length: 12px, $height: 38px) {
  position: relative;
  &::before  {
    content: '';
    display: block;
    width: 0;
    height: 0;
    left: (-$left);
    border-left: 0px solid transparent;
    border-right: $length solid transparent;
    border-top: $height solid $color;
    position: absolute;
    top: 0;
    z-index: 2;
  }
}

/*
* Quick Font Sizes
*/
@mixin font-sizes($sm: 16px,$md:20px, $lg:24px) {
  font-size: $sm;
  @include tablet {
    font-size: $md;
  }
  @include desktop {
    font-size: $lg;
  }
}

/*
* Set max widths to Bootstrap's settings
*/
@mixin container-max-widths() {
  max-width: map-get($container-max-widths, 'sm' );
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    max-width: map-get($container-max-widths, 'md' ); 
  }
  @include tablet-lg {
    max-width: map-get($container-max-widths, 'lg' );
  }
  @include desktop {
    max-width: map-get($container-max-widths, 'xl' );
  }
}