/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;


// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

// Slick carousel vars
$slick-loader-path: '~slick-carousel/slick/';
$slick-font-path: '#{$slick-loader-path}fonts/';

// Parallelogram buttons
%parallelogram{
  transform: skew(-12deg);
  span { // undos the skew
    display:inline-block;
    transform: skew(12deg);
  }
}

